/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


ul,li,menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}


/* nav */

.container-fluid {
    width: 100%;
}

.row{
    display: flex;
}

.justify-space-between{
    justify-content: space-between;
}

.row-list{
    display: flex;
}

.page-logo{
    padding: 33px 30px 20px 20px;
}

.nav-link{
    padding: 33px 20px 20px 20px;
}



/* hero */

.hero{
    background-color: rgba(180, 208, 231, 1);
}

.container-xl{
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    padding-top: 50px;
    text-align: start;
}

.hero .title {
    font-size: 80px;
}

.margin{
    margin-top: 70px;
}

.justify-center{
    justify-content: center;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4) ;
}

.caption {
    text-align: start;
    font-size: 20px;
}

.button-hero{
    padding-top: 40px;
}

.button-hero .caption{
    padding-top: 45px;
}

.button-hero i {
    padding-top: 135px;
    font-size: 50px;
}
.col-8 {
    flex-basis: calc((100% / 12) * 8) ;
}

/* section card */

.card {
    margin-top: 50px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.container .title{
    font-size: 40px;
}

.radio-button{
    margin-top: 50px;
    display: inline-block;
}
.radio-button-annuale{
    padding-left: 80px;
}

.border-card {
    border: 1px solid rgb(139, 139, 139);;
    text-align: start;
}

.title-card{
    border: 1px solid rgb(139, 139, 139);;
    text-align: center;
    padding: 13px 0px;
}

.title-card-name {
    display: inline-block;
}

.info-card{
    padding:40px;
}

.info-card-size{
    padding-bottom: 15px;
}

.info-card-button-size{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 97, 255, 1);
}

.bg-button-blue{
    color: white;
    padding: 10px 10px;
    color: white;
}

.info-card-size-month{
    padding-bottom: 70px;
}

.button-buy{
    color: blue;
    text-decoration: underline;
    display: inline-block;
}

.line-card{
    border: 1px solid rgb(139, 139, 139);
    width: 20%;
    margin: 40px 0px 65px 0px;
}

.lightgrey{
    color: lightgrey;
}

/* debug*/
/* debug-nav */

.debug .container-fluid {
    /* border: 1px solid black; */
}

.debug .nav-col{
    /* border: 1px solid red; */
}

/* debug-hero */

.debug .container-xl{
    /* border: 1px solid red; */
}

/* debug section card */
