/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul,li,menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}


/* nav */

.container-fluid {
    width: 100%;
}

.row{
    display: flex;
}

.justify-space-between{
    justify-content: space-between;
}

.row-list{
    display: flex;
}

.page-logo{
    padding: 33px 30px 20px 20px;
}

.nav-link{
    padding: 33px 20px 20px 20px;
}

.bg-start{
    background-color: rgba(0, 97, 255, 1);
    padding: 10px 20px;
    color: white;
}

/* hero */

.container-xl{
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    font-size: 80px;
    text-align: center;
}

.flex-direction {
    flex-direction: column;
}

.margin{
    margin-top: 70px;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4) ;
}

.caption {
    text-align: start;
    font-size: 20px;
}

.col-8 {
    flex-basis: calc((100% / 12) * 8) ;
}

/* debug*/
/* debug-nav */

.debug .container-fluid {
    border: 1px solid black;
}

.debug .nav-col{
    /* border: 1px solid red; */
}

/* debug-hero */

.debug .hero{
    background-color: rgba(180, 208, 231, 1);
}

.debug .container-xl{
    border: 1px solid red;
}